!!! 5
/[if lt IE 7 ]<html lang="en" class="ie6 no-js">
/[if IE 7 ]<html lang="en" class="ie7 no-js">
/[if IE 8 ]<html lang="en" class="ie8 no-js">
/[if IE 9 ]<html lang="en" class="ie9 no-js">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"><!--<![endif]-->
%head
  %meta{'charset' => 'utf-8'}
  %title the gorgon lab - rants and ravings from the mind of jesse reiss
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  = include_stylesheets :site, :media => 'all'
  = csrf_meta_tag 
  = favicon_link_tag
  = typekit_tag 'sya8ocg'
  = yield :head
%body{:id => page_namespace, :class => "site #{controller_name}"}
  %header.tk-divulge.engraved.clearfix
    =link_to image_tag("logos/bernini100x126.png", :size => '100x126'), "http://www.google.com/#q=Bernini+Medusa",:class => 'logo'
    %h1 the gorgon lab
    %nav
      =link_to_with_current "about", about_path
      =link_to_with_current "blog", blog_path
  #bd=yield
  =include_javascripts :vendor
  =include_javascripts :scripts