!!! 5
/[if lt IE 7 ]<html lang="en" class="ie6 no-js">
/[if IE 7 ]<html lang="en" class="ie7 no-js">
/[if IE 8 ]<html lang="en" class="ie8 no-js">
/[if IE 9 ]<html lang="en" class="ie9 no-js">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"><!--<![endif]-->
%head
  %meta{'charset' => 'utf-8'}
  %title= page_title
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  = include_stylesheets :site, :media => 'all'
  = iphone_meta_tags
  = seo_tags
  = open_graph_tags
  = auto_discovery_link_tag(:rss, "http://thegorgonlab.tumblr.com/rss")
  = csrf_meta_tag 
  = favicon_link_tag
  = yield :head
  = typekit_tag 'sya8ocg'
  = analytics_tag 'UA-23324040-1'
%body{:id => page_namespace, :class => "site #{controller_name}"}
  %header.tk-divulge.engraved.clearfix
    =link_to image_tag("logos/me202x75.png", :size => '151x56'), root_path, :class => 'logo'
    %h1 the gorgon lab
    %nav
      =link_to_with_current "about", about_path, :class => "first"
      =link_to_with_current "blog", blog_path, :class => "last"
  #bd=yield
  =include_javascripts :vendor
  =include_javascripts :scripts