!!! 5
/[if lt IE 7 ]<html lang="en" class="ie6 no-js">
/[if IE 7 ]<html lang="en" class="ie7 no-js">
/[if IE 8 ]<html lang="en" class="ie8 no-js">
/[if IE 9 ]<html lang="en" class="ie9 no-js">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"><!--<![endif]-->
%head
  %meta{'charset' => 'utf-8'}
  %title= page_title
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  = include_stylesheets :site, :media => 'all'
  = iphone_meta_tags
  = seo_tags
  = open_graph_tags
  = auto_discovery_link_tag(:rss, blog_url(:format => :xml))
  = csrf_meta_tag 
  = favicon_link_tag
  = yield :head
  = typekit_tag 'sya8ocg'
  = analytics_tag 'UA-23324040-1'
%body{:id => page_namespace, :class => "site #{controller_name}"}
  #wrap
    %header.engraved.clearfix
      =link_to image_tag("logos/me202x75.png", :size => '151x56'), root_path, :class => 'logo'
      %h1 the gorgon lab
      %nav.special
        =link_to_with_current "about", about_path, :class => "first"
        =link_to_with_current "blog", blog_path
        =link_to_with_current "twitter", twitter_path
        =link_to_with_current "rss", blog_path(:format => :xml)
      %summary
        %p my name is jesse reiss, and this is my website.
        %p i like putting my ideas in the tubes.
        %p i hope you like receiving them.
    .vr
    #content
      #bd=yield
  #fb-root
  =include_javascripts :vendor
  =include_javascripts :scripts
  %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
  :javascript
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  =yield :bottom